.about-us-container {
  position: relative;
  height: 100%;
  width: 80%;
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 50px;
  background-color: rgb(0, 2, 66);
  color: white;
  border-radius: 50px;
  padding-top: 30px;
  padding-bottom: 60px;
  z-index: 2;
  opacity: 0.9;
}