html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

body {
  background-image: url('../../images/test-x-o.jpg');
  background-size: 2500px;
  background-repeat: no-repeat;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(84, 93, 110, 0.5);
  z-index: -1;
}

.title {
  font-family: "Goldman", serif;
  font-size: 70px;
}

.body-text {
  font-family: "League Spartan", serif;
  width: 80%;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  margin-top: 40px;
}

.sign-up-button {
  font-size: 35px;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 50px;
  margin-top: 40px;
  cursor: pointer;
  transition: opacity 0.15s;
}

.features-container .sign-up-button {
  background-color: rgb(0, 2, 66);
  color: white;
}

.sign-up-button:hover {
  opacity: 0.7;
}

.sign-up-button:active {
  opacity: 0.5;
}

.about-us-container .sign-up-button {
  font-size: 35px;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 50px;
  margin-top: 40px;
  cursor: pointer;
}

.section-page-link {
  margin-top: 40px;
  font-size: 20px;
  font-family: "League Spartan", serif;
}

.features-container .link {
  color: black;
}

.about-us-container .link {
  color: white;
}